<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tesseray</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="music makes me lose control">
    <link rel="stylesheet" href="../assets/css/main.css">
  </head>
  <body>
    <div class="container">
      <div class="intro">
        <div class="intro-bg">
          <div class="intro-content">
            <a href="https://tesseray.com" class="logo-link"></a>
            <div class="logo-type"></div>
            <div class="divider"></div>
            <h3>
              <!-- An event hosting platform to distribute and exchange -->
              The quick brown fox jumps over the lazy dog and the quick
              <br/>
              <!-- universally authentic tickets over the Blockchain. -->
              the quick brown fox jumps over the lazy dog.
            </h3>
            <a href="#" class="start-btn">
              <span class="btn-span"></span>
              <span class="btn-txt">p r e s s<br/>s t a r t</span>
              <span class="btn-span"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
