<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Prototype</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="music makes me lose control">
    <link rel="stylesheet" href="../assets/css/main.css">
  </head>
  <body>
    <div class="container">
      <header></header>
      <div class="ticket">
        <div class="event-img">
          <div class="event-name">inaugural event</div>
        </div>
        <div class="event-info"></div>
        <div class="single-ad-btn"></div>
      </div>
      <footer></footer>
    </div>
  </body>
</html>
